html, body, img, div
{
	margin: 0px;
	padding: 0px;
	vertical-align: top;
	border: none;
}

html, body
{
	width: 800px;
	height: 600px;
	text-align: left;
	background-color: black;
}

#fon
{
	width: 800px;
	height: 600px;
	background-image: url('fon.png');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: top left;
	text-align: left;
}

input
{
	position: absolute;
	left: 20px;
	top: 20px;
	width: 150px;
	height: 50px;
	font-size: 30px;
	font-family: arial;
	color: red;
}

img
{
	position: absolute;
}

#p0, #p1, #p2, #p3, #p4
{
	left: 680px;
}

#p0
{
	top: 100px;
}

#p1
{
	top: 200px;
}

#p2
{
	top: 300px;
}


#p3
{
	top: 400px;
}

#p4
{
	top: 500px;
}
